SETTINGS=dev

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_HOST=db-async
DB_PORT=5432
DB_DBNAME=
DB_PASSWORD=
DB_USER=
DB_OPTIONS="-c search_path=content"

ES_HOST=elasticsearch
ES_PORT=9200
ES_FILM_WORKS_INDEX_NAME=movies
ES_PERSONS_INDEX_NAME=persons
ES_GENRES_INDEX_NAME=genres
ES_INDEX_SCHEMA_PATH="postgres_to_es/index_schemes"
ES_INDEX_SCHEMA_FILE_SUFFIX="_index_schema.json"
ES_DEFAULT_PAGE=1
ES_DEFAULT_PAGE_SIZE=10

ETL_CHUNK_SIZE=250
ETL_LIMIT_READ_RECORD_DB=250
ETL_STATE_FIELD="updated_at"
ETL_STATE_FILE_PATH=null

BACKOFF_FETCH_DELAY=0.1
BACKOFF_MAX_ATTEMPT=100
BACKOFF_MAX_TIME=60
BACKOFF_RETRIES=5
BACKOFF_TTS=2

REDIS_HOST=redis
REDIS_PORT=6379

TEST_RUN_WITH_DOCKER=True
TEST_RUN_WITH_COVERAGE=False
TEST_TESTING=False

APP_SLEEP_TIMEOUT=60
APP_PROJECT_NAME='movies'

CACHE_TTL=300

JAEGER_AGENT_HOST_NAME=jaeger
JAEGER_AGENT_PORT=6831
JAEGER_ENABLED=True

AUTH_SECRET_KEY=
ALGORITHM=HS256
